body {
    background-color: #dcdcdc;
    font-weight: bold;
    margin: 0%;
    padding: 0%;
}
nav {
    background-color: #234F1E;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav li {
        float: left;
}
nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

nav li a {
        display: block;
        color: white;
        padding: 25px;
        text-decoration: none;
}
nav li a:hover {
    color: white;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all 0.5s;
    cursor: pointer;
}
.imgbox {
    max-width: 100%;
    height: auto;
    padding-right: 0%;
    opacity: 0.5;
}
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600&display=swap");

.image-text {
  z-index: 1;
  font-size: 100px;
  -webkit-text-fill-color: #234F1E;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{  
    text-align: justify; 
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    font-family: Roboto, sans-serif;
}
h2{
    padding-left: 70px;
    padding-right: 70px;
    font-family: Roboto, sans-serif;
}
.conteudo1{
    display: flex;
    flex-direction: row;
}
footer {
    background-color: #2a8c4a;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 50px;
    display: flex; 
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    border-radius: 50%;
}